@font-face {
  font-family: "Digital Sans EF Medium";
  src: url('../fonts/Digital Sans EF Medium.ttf') format("truetype");
}

@font-face {
  font-family: "DroidSans";
  src: url('../fonts/DroidSans.ttf') format("truetype");
}

:root {
  --default-amount-color: #a5b3c0;
  --default-font-color: #c2c2c2;
  --default-font-size: 2.1vmax;
  --default-header-color: #5ca279;
  --default-header-font-size: 2.4vmax;
  --link-color: #436055;
  --link-font-size: 1.8vmax;

  font-size: var(--default-font-size);
  background-color: black;
  color: var(--default-font-color);
}

html * {
  font-family: "DroidSans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100vh;
  background: url('../images/background.jpg') no-repeat;
  background-size: 100% 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

a {
  font-size: var(--link-font-size);
}
a:link {
  color: var(--link-color);
}
a:visited {
  color: var(--link-color);
}
a:hover {
  color: var(--link-color);
}
a:active {
  color: var(--link-color);
}

button {
  background-color: #515151;
  border: 1px solid #506b58;
  color: white;
  padding: 0.5vmax;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  font-size: var(--default-font-size);
}

button:hover {
  background-color: #858595;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--default-header-color);
  font-size: var(--default-header-font-size);
  margin: 0 0 1vmax;
  padding: 0;
}

h2 {
  font-size: var(--default-font-size);
  margin: 0 0 1vmax;
  padding: 0;
}

h3 {
  font-size: var(--default-font-size);
  padding: 0;
  margin: 0;
}

input {
  font-family: monospace;
  border: 1px solid #3b4b3d;
  padding: 0.5vmax;
  margin: 0;
  background: rgba(64, 142, 62, 0.04);
  color: var(--default-font-color);
  font-size: var(--default-font-size);
  max-font-size: 18px;
}

br {
display: block;
content: "";
margin-top: 1.1vmax;
}

p {
  margin: 0 0 0.5vmax;
  padding: 0;
  font-size: var(--default-font-size);
}

select {
  border: 1px solid #3b4b3d;
  outline: 1px;
  background: rgba(64, 142, 62, 0.04);
  color: var(--default-font-color);
  padding: 0.5vmax;
  font-size: var(--default-font-size);
  -webkit-appearance: none;
  -webkit-user-select: none;
}

select option {
  background: #222222;
  color: var(--default-font-color);
  font-size: var(--default-font-size);
}

td {
  font-size: var(--default-font-size);
}

textarea {
  font-family: monospace;
  border: 1px solid #3b4b3d;
  padding: 0.5vmax;
  background: rgba(64, 142, 62, 0.04);
  color: var(--default-font-color);
  font-size: var(--default-font-size);
}
      
.app-header {
  font-family: "Digital Sans EF Medium", sans-serif;
  color: var(--default-header-color);
  font-size: 3.8vmax;
  margin-top: 0;
  margin-right: 1.5vmax;
  margin-left: 1.5vmax;
  margin-bottom: 1vmax;
}

.amount {
  font-family: monospace;
  font-size: var(--default-font-size);
}

.address {
  font-family: monospace;
  font-size: var(--default-font-size);
}

.box {
  margin-top: 0;
  margin-right: 1.5vmax;
  margin-left: 1.5vmax;
  margin-bottom: 1.5vmax;
  padding: 1vmax;
  background-color: rgba(48, 46, 46, 0.7);
  border: 1px solid #484745;
}

.box .bottom {
  margin-bottom: 0;
}

.digital {
  font-family: "Digital Sans EF Medium", sans-serif;
}

.hidden-element {
  display: none;
}

.padded {
  margin-top: 0;
  margin-right: 1vmax;
  margin-left: 1vmax;
  margin-bottom: 1vmax;
}

.scrollable-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.scrollable-content, ::-webkit-scrollbar {
  width: 2vmax;
}

.scrollable-content, ::-webkit-scrollbar * {
  background: transparent;
}

.scrollable-content, ::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.4) !important;
}

.vfocus {
}

table.dataTable.no-footer {
  border-bottom: 0;
}

table.transparent td, table tr, table th {
  background: transparent !important;
  outline: none;
}

.dataTables_filter label, .dataTables_info, .dataTables_paginate, .dataTables_length {
  color: var(--default-font-color) !important;
}

table.dataTable thead th,
table.dataTable thead td {
  color: var(--default-header-color) !important;
  text-align: left;
}

.footnote {
  font-style: italic;
  font-size: 1.5vmax;
}

.dataTables_filter {
  float: right !important;
}

.dataTables_info {
  float: center !important;
}